* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body__section_backgroud {
    background-image: url('/static/image/ears.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.body__display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100wh;
    gap: 368px;
}

.display__title {
    font: 400 normal 46px/1 'Lora', serif;
    color: #FFFFFF;
    width: 240px;
}

.display__author {
    font: 400 normal 25px/1.24 'Oxygen', sans-serif;
    color: #FFFFFF;
}

.display__subtitle {
    font: 400 normal 17px/1.47 'Oxygen', sans-serif;
    color: #FFFFFF;
    padding-top: 16px;
}

.login {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 560px;
    background: #FFFFFF;
    border-radius: 3px;
    padding-top: 56px;
    padding-left: 40px;
}

.login__title {
    font: 400 normal 34px/1.17 'Lora', serif;
    color: #000000;
    padding-bottom: 50px;
}

.login__name {  
    font: 400 normal 12px/1.3 'Oxygen', sans-serif;
    color: #7A7A7A;
    padding-bottom: 5px;
}

.login__email_margin {
    margin-bottom: 40px;
}

.login__password_margin {
    margin-bottom: 85px;
}

.login__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 400px;
    height: 40px;   
    border-bottom: 1px solid #c0c0c0;
    border-radius: 5px 5px 0 0;
}

.login__field_input {
    width: 400px;
    height: 40px;
    font: 400 normal 16px/1.5 'Oxygen', sans-serif;
    background: #FFFFFF;
    border: none;
    color: #2E2E2E;
    padding: 0 4px 0 4px;
}

.login__field_input:hover {
    background: #F7F7F7;
    border-bottom: 2px solid #2E2E2E;
    border-radius: 5px 5px 0 0;
}

.login__field_input:not(:placeholder-shown) {
    background: #F7F7F7;
    border-bottom: 2px solid #2E2E2E;
    border-radius: 5px 5px 0 0;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.login__field_icon {
    position: absolute;
    z-index: 1;
    margin-left: 92%;
}

.button-style {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #DD783F;
    border-radius: 3px;
    border: 0;
}

.button-style:hover {
    background: #DD783F;
    opacity: 0.8;
}

.button__size {
    width: 93px;
    height: 48px;
}