* 
{
    margin: 0;
}
.top-block
{
    display:flex;
    justify-content: space-between;
    width: 66%;
    position: absolute;
    margin: 1.39% 17% 0;
}

.top-block__logo 
{
    font: 400 26px 'Lora';
    color: white;
}

.top-block__navigation
{
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    column-gap: 41px;
}

.navigation__link 
{
    text-decoration: none;
    font: 400 11px/1.82 'Oxygen';
    letter-spacing: 0.6px;
    color: white;
}

.basement 
{
    background-image: url(../image/footer.png);
    background-size: cover;
    width: 100%;
    padding: 81px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.basement-menu
{
    background: rgba(35, 47, 56, 0.6); 
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 6% 0 0;
    padding: 31px 17% 32px;
}

.basement-menu__logo
{
    font: 400 26px 'Lora';
    color: white;
}

.basement-navigation
{
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    column-gap: 20px;
}

.basement-navigation__link
{
    text-decoration: none;
    font: 400 11px/1.82 'Oxygen';
    letter-spacing: 0.6px;
    color: rgba(255, 255, 255, 0.6); 
}

.basement-form
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.basement-form__heading
{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #DEDEDE;
    text-decoration-thickness: 1px;
    text-underline-offset: 17px;
    font: 400 25px/1.2 'Oxygen';
    color: #EFEFEF;
    line-height: 30px;
    width: 100%;
    margin: 0 0 38px;
}

.basement-form__input-field
{
    width: 367px;
    height: 44px;
    border: 0;
    border-radius: 3px 0px 0px 3px;
    color: #817F83;
    padding: 0 35px 0;
}

.basement-form__button
{
    width: 125px;
    height: 44px;
    color: #F8F8F8;
    background: rgba(255, 255, 255, 0.28);
    border: 0;
    border-radius: 0px 3px 3px 0px;
}