/* Regex for colors #[0-9a-fA-F]+ */
@font-face {
  font-family: "Lora", serif;
  src: url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
}

@font-face {
  font-family: "Oxygen", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

.page {
  height: 100vh;
  margin: 0;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 74px;
  background: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-left: 130px;
  color: #ffffff;
}

.header__logo-text {
  font: 400 normal 26px/1 "Lora", serif;
}

.header__logo-author {
  font: 400 normal 14px/1.21 "Oxygen", sans-serif;
}

.header__icons {
  margin-right: 140px;
  display: flex;
  align-items: center;
}

.header__exit-button {
  margin-left: 16px;
}

.form {
  width: 80%;
  align-self: center;
  margin-top: 64px;
}

.form__section {
  display: flex;
}

.form__section_flex-direction_column {
  flex-direction: column;
}

.form__section_justify-content_space-between {
  justify-content: space-between;
  align-items: center;
}

.form__section-heading {
  font: 400 normal 27px/1.11 "Lora", serif;
}

.form__section-title .form__section-heading {
  font: 400 normal 34px/1.18 "Lora", serif;
}

.form__section-description {
  font: 400 normal 14px/1.43 "Oxygen", sans-serif;
  color: #2e2e2ea1;
  margin-top: 8px;
}

.form__publish-button {
  width: 100px;
  height: 48px;
  border-radius: 3px;
  padding: 12px 24px;
  background: #dd783f;
  border: none;
  color: #ffffff;
  font: 400 normal 16px/1.5 "Oxygen", sans-serif;
}

.form__section-info {
  background: #ffffff;
  margin-top: 32px;
  padding: 40px;
  box-shadow: 0px 6px 12px -10px #00000033;
}

.form__section-data_display_flex {
  display: flex;
  justify-content: space-between;
}

.form__input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form__label {
  font: 400 normal 12px/1.33 "Oxygen", sans-serif;
  color: #7a7a7a;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.form__input {
  border: none;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 1px;
  height: 40px;
  font: 400 normal 16px/1.5 "Oxygen", sans-serif;
  color: #2e2e2e;
}

.form__input:focus {
  border-bottom: 2px solid #2e2e2e;
  margin-bottom: 0;
}

.form__input_filled {
  background: #f7f7f7;
  border-bottom: 1px solid #2e2e2e;
}

.form__file-input {
  display: none;
}

.form__author-photo-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.hidden {
  display: none;
}

#form__author-photo {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

#form__author-photo-upload {
  margin-left: 16px;
}

#form__author-photo-upload-new {
  margin-left: 16px;
}

#form__author-photo-remove {
  margin-left: 20px;
}

#form__article-image {
  width: 560px;
  height: 160px;
  border-radius: 6px;
}

#form__card-image {
  width: 296px;
  height: 150px;
  border-radius: 6px;
}

.form__file-description {
  font: 400 normal 12px/1.33 "Oxygen", sans-serif;
  color: #999999;
  margin-top: 12px;
}

.form__image-control {
  margin-top: 12px;
}

.form__preview-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form__preview-article {
  position: relative;
}

.form__preview-heading {
  font: 400 normal 14px/1.43 "Oxygen", sans-serif;
  color: #7a7a7a;
  margin-top: 20px;
}

.form__preview-block {
  margin-top: 16px;
  width: 408px;
  padding: 32px 16px 0px 16px;
  border: none;
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}

.form__preview-article .form__preview-block {
  height: 385px;
  border-top-left-radius: 30px;
}

.window-frame {
  height: 353px;
  width: 408px;
  border-radius: 8px;
  border: none;
  border-left: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}

.dots {
  padding: 10px;
  display: flex;
  gap: 3px;
  height: 5px;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.dot {
  width: 4px;
  height: 4px;
  background: #d9d9d9;
  border-radius: 2px;
}

.article__info {
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article__title {
  font: 400 normal 20px/1.2 "Lora", serif;
  color: #2e2e2e;
}

.article__description {
  margin-top: 4px;
  color: #2e2e2ea1;
  font: 400 normal 10px/1.2 "Oxygen", sans-serif;
}

.article__image {
  width: 408px;
  height: 160px;
}

.form__preview-card {
  position: relative;
}

.form__preview-card .form__preview-block {
  height: 311px;
  border-top-left-radius: 10px;
}

.form__section-content {
  margin-top: 16px;
  margin-bottom: 340px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 6px 12px -10px #00000033;
}

.form__textarea {
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #eaeaea;
  margin: 1px 0;
  font: 400 normal 16px/1.5 "Oxygen", sans-serif;
  text-align: justify;
  width: 940px;
  height: 160px;
  max-width: calc(100% - 40px);
}

.form__textarea:focus {
  border: 2px solid #2e2e2e;
  margin: 0 0;
}

.card {
  height: 291px;
  width: 296px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
}

.card__image {
  height: 150px;
  width: 296px;
}

.card__info {
  flex: 1 1 auto;
  padding: 0 20px;
  border-top: #e5e5e5 1px solid;
  border-bottom: #efefef 1px solid;
  min-height: 93px;
}

.card__title {
  font: normal 400 16px/1.31 "Lora", serif;
  color: #101315;
  margin: 14px 0 6px;
}

.card__subtitle {
  font: normal 400 13px/1.46 "Oxygen", sans-serif;
  color: #7a7a7a;
}

.card__creation-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fcfcfc;
  height: 50px;
  padding: 0 13px;
}

.card__author {
  display: flex;
  align-items: center;
}

.card__author-avatar {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.card__author-name {
  font: normal 400 11px/3.18 "Oxygen", sans-serif;
  color: #999999;
}

.card__date {
  font: normal 400 12px/2.92 "Oxygen", sans-serif;
  color: #999999;
}

.form__preview-shadow-right {
  position: absolute;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 84.72%);
  height: 396px;
  width: 119px;
  right: 0px;
  top: 0px;
}

.form__preview-shadow-bottom {
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  height: 72px;
  width: 440px;
  right: 0px;
  bottom: 0px;
}
