@font-face {
  font-family: "Lora", serif;
  src: url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
}

.page {
  background-color: #f7f7f7;
}

.page__title {
  font: bold 400 36px/1 "Lora", serif;
  color: #333;
  margin-top: 50px;
}

.page__content {
  font: normal 400 18px/1 "Lora", serif;
  color: #666;
  margin-top: 20px;
}
