/* Regex for colors #[0-9a-fA-F]+ */
@font-face {
  font-family: "Lora", serif;
  src: url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
}

@font-face {
  font-family: "Oxygen", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

.page {
  height: 100vh;
  margin: 0;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__links {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 20px auto auto 250px;
}

.logo__text {
  font: normal 400 26px/1 "Lora", serif;
  color: #ffffff;
  text-decoration: none;
}

.header__menu {
  margin: 27px 250px auto auto;
}

.menu__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu__item {
  margin: auto 20px;
}

.menu__link {
  font: normal 400 12px/1.67 "Oxygen", sans-serif;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-decoration: none;
}

.menu__link_uppercase {
  text-transform: uppercase;
}

.header__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header__title {
  margin-top: 130px;
}

.title__main-title {
  font: normal 400 50px/1.02 "Lora", serif;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.title__subtitle {
  font: normal 400 17px/1.18 "Oxygen", sans-serif;
  color: #ffffffa1;
  margin: 20px 0 30px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__content {
  flex: 1 1 auto;
  width: 100%;
}

.footer {
  background: url("/static/img/footer-background.png") no-repeat center / cover;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.footer__email-form {
  flex: 1 1 auto;
}

.email-form__title {
  font: normal 400 25px/1.2 "Oxygen", sans-serif;
  color: #efefef;
  text-align: center;
  margin: 81px auto 0;
}

.email-form__title::after {
  content: "";
  display: block;
  width: 188px;
  height: 1px;
  background-color: #dedede;
  margin: 16px auto 20px;
}

.email-form__content {
  display: flex;
  justify-content: center;
}

.email-form__input {
  font: normal 400 12px/1.17 "Roboto", sans-serif;
  color: #817f83;
  background: #ffffff;
  border-radius: 3px 0px 0px 3px;
  border: none;
  width: 340px;
  height: 50px;
  padding: 0;
  padding-left: 35px;
}

.email-form__button {
  font: normal 400 12px/1.17 "Roboto", sans-serif;
  color: #f8f8f8;
  background: #ffffff47;
  border-radius: 0px 3px 3px 0px;
  border: none;
  width: 125px;
  height: 50px;
  padding: 18px 0;
}

.footer__links {
  min-height: 90px;
  background: #232f3899;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  margin-left: 250px;
}

.footer__menu {
  margin-right: 250px;
}

.menu__link_transparent {
  opacity: 60%;
}

.menu__link_footer {
  font: normal 400 11px/26px "Oxygen", sans-serif;
  letter-spacing: 1px;
  margin: auto -10px;
}
